* {
	box-sizing: border-box;
}

body {
	width: 90%;
	margin: 0 auto;
}

/*Header CSS */

h1 {
	font-family: 'Monoton', cursive;
	font-size: 40px;
	text-align: center;
	margin: 30px;
	word-spacing: 10px;
}

#instruct {
	display: block;
	margin-bottom: 35px;
	text-align: center;
	line-height: 1.6;
}

h3 {
	font-family: 'Bungee', cursive;
	margin-bottom: 20px;
}

p {
	font-family: 'Cormorant Garamond', serif;
	margin: 10px;
}

/*Numbers CSS */

.numbers {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
	font-family: 'Concert One', cursive;
}

#random {
 	border-radius: 25px;
  	background: #a9a9c2;
  	padding: 35px; 
  	width: 250px;
  	height: 150px; 
  	opacity: 0.8;
  	text-align: center;
  	font-size: 75px;
}

#guess {
 	border-radius: 25px;
  	background: #a8c2a7;
  	padding: 35px; 
  	width: 250px;
  	height: 150px; 
  	opacity: 0.8;
  	margin-left: 1.5em;
  	text-align: center;
  	font-size: 75px;
}

/*Images CSS*/

.crystals {
	display: flex;
	justify-content: center;
	background-color: white;
}
	
.score p {
	font-family: 'Bungee', cursive;
	text-align: center;	
}

button {
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	border: none;
	text-decoration: none;
	outline: none;
}

img {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

img:hover {
	opacity: 0.5;
}


